.cadastro{
    margin-top: 0;
    background: white;
    height: 100vw;
    width: 100%;
}

.botoes{
    padding: 0 100px;
    display: flex;
    justify-content: space-around;
}

.container{
    display: flex;
    justify-content: space-around;
    margin-top: 52px;
}