.card{
    border: 2px solid;
    width:210px;
    height: 270px;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    margin-top: 10px;
    text-align: left;
}

.card img{
    width: 30px;
    height: 30px;
    margin-left: 158px;
}

.imagens{
    /* display: flex; */
    /* justify-content: space-between; */
    /* margin-top: 102px; */
    position: absolute;
    bottom: 10px;
}