.criarlembrete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; 
    flex-direction: column;
}

.form{
    width:600px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.form textarea{
    width:100%;
    border-radius: 5px;
}

.form textarea::placeholder{
    color: #ba7518;
}