.dashboard {
    background-color: white;
    height: 100vh;
}

.containerEsquerdo {
    /* width: 100vw; */
    margin-top: 10px;
    display: flex;
    float: right;
}

.cards{
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* flex-direction: column; */
    width: 65vw;
    margin-left: 256px;
}

.botao:hover{
    color: red;
}

.btn_sair{
    padding: 5px 10px;
    border: 3px solid #2d3869;
    width: max-content;
    height: max-content;
    margin-top: 10px;
}
.btn_sair img{
    width:30px;
    height:30px;
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    height: max-content;
    align-items: top;
}

.mensagemBemVindo{
    margin-top: 10rem;
    text-align: center;
    font-size: 30px;
    color: #2d3869;
    font-weight: bold;
}